{% macro profile(context)  %}
<table class="table">
	<thead>
	  <tr>
		<th scope="col" colspan="2">Informações do Usuário</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<th scope="row">Nome completo</th>
		<td>{{context.full_name}}</td>
	  </tr>
	  <tr>
		<th scope="row">Login</th>
		<td>{{context.username}}</td>
	  </tr>
	  <tr>
		<th scope="row">Perfil</th>
		<td>{{context.profile}}</td>
	  </tr>
	  <tr>
		<th scope="row">E-mail</th>
		<td>{{context.email}}</td>
	  </tr>
	  <tr>
		<th scope="row">Data de Registro</th>
		<td>{{context.registration_date}}</td>
	  </tr>
	</tbody>
</table>
{% endmacro %}
