{% extends "base-app.html"  %}
{% from "navbar.html" import navbar  %}

{% block navbar %}
	{{navbar(sysadmin=sysadmin)}}
{% endblock  %}

{% block content %}
<table class="table table-bordered table-striped">
	<thead>
	  <tr class="table-secondary">
		<th scope="col" colspan="2">Informações do Usuário</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<th scope="row">Nome completo</th>
		<td>{{context.name}}</td>
	  </tr>
	  <tr>
		<th scope="row">Login</th>
		<td>{{context.username}}</td>
	  </tr>
	  <tr>
		<th scope="row">Perfil</th>
		<td>{{context.profile}}</td>
	  </tr>
	  <tr>
		<th scope="row">E-mail</th>
		<td>{{context.email}}</td>
	  </tr>
	  <tr>
		<th scope="row">Data de Registro</th>
		<td>{{context.created_at}}</td>
	  </tr>
	  <tr>
		<th scope="row">Data de Atualização</th>
		<td>{{context.updated_at}}</td>
	  </tr>
	</tbody>
</table>
{% endblock  %}
