{% extends "base-app.html" %}
{% from "navbar.html" import navbar %}

{% block title %}Criar usuário{% endblock %}

{% block navbar %}
  {{navbar(sysadmin=sysadmin)}}
{% endblock %}

{% block content %}
<form method="POST" action="">
  <div class="row">

    <div class="col-md-6">
      <label for="name">Nome completo</label>
      <input type="text" name="name" class="form-control" id="name" placeholder="Nome completo">
    </div>
    <div class="col-md-6">
      <label for="username">Login</label>
      <input type="text" name="username" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="col-md-6">
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="col-md-6">
      <label for="password">E-mail</label>
      <input name="email" type="email" class="form-control" id="email" placeholder="username@domain">
    </div>
  </div>
  <button class="btn btn-primary py-2 mt-2 float-end" type="submit">Enviar</button>
  
</form>
{% endblock %}