{% extends "base-app.html" %}
{% from "navbar.html" import navbar %}

{% block title %}Editar perfil{% endblock %}

{% block navbar %}
  {{navbar(sysadmin=sysadmin)}}
{% endblock %}

{% block content %}
<form method="POST" action="/profile_update">
  <div class="row">
    <div class="col-12">
      <label for="name">Nome completo</label>
      <input value="{{context.name}}" type="text" name="name" class="form-control" id="name"
        placeholder="Nome completo">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="username">Login</label>
      <span id="username" class="form-control text-muted">{{context.username}}</span>
      <input value="{{context.username}}" type="hidden" name="username">
    </div>
    <div class="col-md-6">
      <label for="profile">Perfil</label>
      <input value="{{context.profile}}" type="text" name="profile" class="form-control" id="profile">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="password">E-mail</label>
      <span id="email" class="form-control text-muted">{{context.email}}</span>
    </div>
    <div class="col-md-6">
      <label for="password">Senha</label>
      <input name="password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
  </div>
  <button class="btn btn-primary float-end mt-2 py-2" type="submit">Enviar</button>
</form>
{% endblock %}