{% extends "base-app.html" %}
{% from "navbar.html" import navbar %}

{% block navbar %}
{{navbar(sysadmin=sysadmin)}}
{% endblock %}

{% block content %}
    <div class="container">
        <h3><i class="bi bi-card-checklist"></i> Tarefas</h3>
    </div>
    div class="container bg-body">
        <div class="row">
            <div class="col-12 py-2">
                <form action='/tasks/add_get' method="POST" enctype="multipart/form-data">    
                    <div class="mb-3 px-2">
                        <label for="task" class="form-label">Insira uma nova tarefa</label>
                        <input type="text" class="form-control" id="task" name="task" required autofocus>
                    </div>
                    <div class="mb-3 px-2">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-warning">Adicionar</button>
                        </div>
                    </div>
                </form>
                {% if l %}
                <ul class="list-group">
                    {% for i in range(l) %}    
                    <li class="list-group-item">{{ i+1 }} - {{ tasklist[i].task }} <a class='link-danger float-end' href="/tasks/del?id={{ tasklist[i].id }}"><i class="bi bi-trash3-fill"></i></a></li>
                    {% endfor %}
                </ul>
                <a class='btn btn-sm btn-danger mt-3 float-start' href="/tasks/clear">limpar <i class="bi bi-x-circle-fill"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}